      <div class="card justify-content-center" id="dashboard-cards">
          <div class="card-header d-flex justify-content-between" id="post-title">
              <a href="/dashboard/edit/{{id}}" >{{title}}</a>
                <div class="test">
                  <div>{{format_date created_at}}</div>
                </div>
            </div>
            <div class="card-text" >
      <div id="post-content">
        {{content}}
          
<button type="button" class="delete-review-btn" id="user-{{user.id}} edit-{{id}}">delete</button>
<button type="button" class="btn btn-primary edit-review-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="user-{{user.id}} edit-{{id}}" value="{{content}}">
edit</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" rows="3" id="edit-post-content">{{content}}</textarea>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal" name="save-btn-modal" id="user-{{user.id}} edit-{{id}}">Save</button>

      </div>
    </div>
  </div>
</div>
          </div>


{{!-- <div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal show" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div> --}}
  
</div>
<!-- Button trigger modal -->


<!-- Modal -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{{!-- <script src="/javascript/add-post.js"></script> --}}
